<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UserLayer.Properties.Settings.dbToolCribConnectionString"
            connectionString="Data Source=DESKTOP-8L7GQC9\SQLEXPRESS;Initial Catalog=dbToolCrib;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>